.filter {
	padding: 40px;
}
.main {
	display: flex;
	flex-direction: row-reverse;
}

.table {
	margin: 20px;
}

.filter__label:before {
	background-color: #a0d167 !important;
}

.filter__label {
	cursor: pointer;
	text-transform: capitalize;
}

.thead__header {
	cursor: pointer;
}